:root {
    --list_item-margin-bottom: 65px;
    --horizontal_line-width: 50px;
    --horizontal_line-height: 7px;
    --vertical_line-width: var(--horizontal_line-height);
    --vertical_line-height: var(--horizontal_line-width);
    --dot-diametr: 30px;
    --change-button-width: 80px;
    --change-button-height: 40px;
}