input[type=checkbox] {
  display: none;
  position: absolute;
}

input[type=checkbox]:checked~.menu-opened {
  opacity: 1;
  visibility: visible;
  transition: 500ms ease-in;
}

input[type=checkbox]:checked~.menu-closed {
  width: 2000px;
  height: 2000px;
  right: -1150px;
  top: -500px;
}

label:hover {
  cursor: pointer;
}

.menu-button {
  background: none;
  border: 0;
  padding: 0;
}

.link {
  color: #FFF;
}

.change-button {
  width: var(--change-button-width);
  height: var(--change-button-height);
  color: white;
  position: absolute;
  right: 160px;
  top: 80px;
  z-index: 100;
  user-select: none;
}

.change-button img {
  position: absolute;
  width: var(--change-button-width);
  height: var(--change-button-height);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}


.navigation {
  position: absolute;
  width: 800px;
  height: 800px;
  display: flex;
  justify-content: right;
}

.list {
  margin-top: 150px;
  display: inline-block;
  height: fit-content;
  width: 800px;
  vertical-align: top;
}

.list-item {
  margin-bottom: var(--list_item-margin-bottom);
  display: flex;
  align-items: center;
  line-height: 50px;
  justify-content: right;
}

.text-item {
  display: inline-block;
  font-size: 40px;
  transition: .2s ease-out;
  color: white;

  &:hover+.dot {
    width: var(--dot-diametr);
    height: var(--dot-diametr);
    transition: .2s ease-out;
  }
}

.dot {
  right: var(--horizontal_line-width);
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  background-color: white;
  border-radius: 50%;
  transition: .3s ease-out;
}

.horizontal-line {
  display: inline-block;
  height: var(--horizontal_line-height);
  width: var(--horizontal_line-width);
  background-color: white;
  border-radius: 3px 0 0 3px;
}


.vertical-line {
  display: inline-block;
  height: auto;
  width: var(--vertical_line-width);
  background-color: white;
  border-radius: 0 3px 3px 0;
}

@media (max-width: 1450px) {
  .menu-closed {
    height: 515px;
    width: 300px;
    right: -240px;
    top: -280px;
  }

  .change-button {
    width: 110px;
    height: 110px;
    right: 60px;
    top: 60px;
  }


  .text-item:hover+.dot {
    width: 0;
    height: 0;
  }
}

@media (max-width: 850px) {
  .navigation {
    right: 50px;
  }

  input[type=checkbox]:checked~.menu-closed {
    margin-right: 200px;
  }
}

@media (max-width: 530px) {
  .menu-closed {
    height: 330px;
    width: 330px;
    right: -160px;
    top: -180px;
  }

  .change-button img {
    width: 60px;
  }

  .change-button {
    right: 10px;
    top: 10px;
  }

  .navigation {
    right: 30px;
  }

  .horizontal-line {
    width: 30px;
  }

  // .text-item {
  //   &:hover {
  //     font-size: 45px;
  //   }
  // }
}

@media (max-width: 430px) {}

@media (max-width: 360px) {}


@media (max-height: 900px) {
  :root {
    --list_item-margin-bottom: 37px;
  }

  input[type=checkbox]:checked~.menu-closed {
    top: -570px;
  }
}


@media (max-height: 800px) {
  :root {
    --list_item-margin-bottom: 25px;
  }

  input[type=checkbox]:checked~.menu-closed {
    top: -570px;
  }
}

@media (max-height: 720px) {
  :root {
    --list_item-margin-bottom: 15px;
  }

  input[type=checkbox]:checked~.menu-closed {
    top: -600px;
  }
}

@media (-webkit-device-pixel-ratio: 1.5) {
  .menu-closed {
    background-color: transparent; // 
    position: absolute;
    // background-color: rgba(255, 92, 0, 1);
    height: 915px * 0.67;
    width: 915px * 0.67;
    right: -500px * 0.67;
    top: -640px * 0.67;
    transition: 300ms linear;
    z-index: 10;
  }

  .menu-opened {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    right: 0;
    top: 0;
  }

  .navigation {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
  }

  .change-button {
    width: calc(var(--change-button-width) * 0.67);
    height: calc(var(--change-button-height) * 0.67);
    color: white;
    position: absolute;
    right: 80px* 0.67;
    top: 80px* 0.67;
    z-index: 100;
    user-select: none;
  }

  .change-button img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }

  :root {
    --list_item-margin-bottom: 25px;
  }

  .text-item {
    display: inline-block;
    font-size: 40px * 0.67;
    transition: .2s ease-out;
    color: white;

    &:hover+.dot {
      width: calc(var(--dot-diametr)* 0.67);
      height: calc(var(--dot-diametr)* 0.67);
      transition: .2s ease-out;
    }

    // &:hover {
    //   font-size: 52px* 0.67;
    //   transition: .2s ease-out;
    // }
  }

  .dot {
    right: var(--horizontal_line-width);
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    background-color: white;
    border-radius: 50%;
    transition: .3s ease-out;
  }


}