input[type=checkbox] {
  display: none;
  position: absolute;
}

input[type=checkbox]:checked ~ .menu-opened {
  opacity: 1;
  visibility: visible;
  transition: 500ms ease-in;
}

input[type=checkbox]:checked ~ .menu-closed {
  width: 2000px;
  height: 2000px;
  right: -1150px;
  top: -500px;
  //right: -60%;
  //top: -55%;
}

label:hover {
  cursor: pointer;
}


.menu {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.menu-closed {
  position: absolute;
  background-color: rgba(255, 92, 0, 1);
  border-radius: 50%;
  height: 915px;
  width: 915px;
  right: -460px;
  top: -610px;
  transition: 300ms linear;
  z-index: 10;
  //right: -25%;
  //top: -65%;
}

.menu-opened {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  overflow: hidden;
  width: 900px;
  height: 1900px;
  display: flex;
  align-items: center;
  right: 0;
  top: -500px;
  transition: none;
  z-index: 10;
}

.menu-button {
  background: none;
  border: 0;
  padding: 0;
}

.link {
  color: #FFF;
}

.change-button {
  width: 110px;
  height: 110px;
  color: white;
  position: absolute;
  right: 80px;
  top: 80px;
  z-index: 100;
  user-select: none;
}

.change-button img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}


.navigation {
  position: absolute;
  width: 800px;
  height: 800px;
  display: flex;
  justify-content: right;
}

.list {
  margin-top: 150px;
  display: inline-block;
  height: 100%;
  width: 800px;
  vertical-align: top;
}

.list-item {
  margin-bottom: 55px;
  display: flex;
  align-items: center;
  line-height: 50px;
  justify-content: right;
}

.text-item {
  display: inline-block;
  font-size: 50px;
  margin: 0 50px 0 0;
  transition: .2s ease-out;
  color: white;

  &:hover + .dot {
    width: 30px;
    height: 30px;
    transition: .2s ease-out;
  }
  &:hover {
    font-weight: bold;
    font-size: 52px;
    transition: .2s ease-out;
  }
}

.dot {
  right: 50px;
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  background-color: white;
  border-radius: 50%;
  transition: .3s ease-out;
}

.horizontal-line {
  display: inline-block;
  height: 7px;
  width: 50px;
  background-color: white;
  border-radius: 3px 0 0 3px;
}

.vertical-line {
  display: inline-block;
  margin-top: 172px;
  height: calc(100% - 163px);
  width: 7px;
  background-color: white;
  border-radius: 0 3px 3px 0;
}

@media (max-width: 950px) {
  .menu-closed {
    height: 515px;
    width: 515px;
    right: -240px;
    top: -280px;
  }
  .change-button {
    width: 110px;
    height: 110px;
    right: 60px;
    top: 60px;
  }

  .text-item:hover {
    font-size: 50px;
  }
  .text-item:hover + .dot {
    width: 0;
    height: 0;
  }
}

@media (max-width: 850px) {
  .navigation {
    right: 50px;
  }
  input[type=checkbox]:checked ~ .menu-closed {
    margin-right: 200px;
  }
}

@media (max-width: 530px) {
  .menu-closed {
    height: 330px;
    width: 330px;
    right: -160px;
    top: -180px;
  }
  .change-button img {
    width: 60px;
  }
  .change-button {
    right: 10px;
    top: 10px;
  }
  .navigation {
    right: 30px;
  }
  .list {
    margin-top: 80px;
  }
  .vertical-line {
    margin-top: 102px;
  }
  .horizontal-line {
    width: 30px;
  }
  .text-item {
    margin-right: 10px;
    font-size: 45px;
  }

  .text-item:hover {
    font-size: 45px;
  }
}

@media (max-width: 430px) {
  .text-item {
    font-size: 35px;
  }

  .text-item:hover {
    font-size: 35px;
  }
}