.main-page {
  background: linear-gradient(rgba(0, 0, 0, 0.66), rgba(0, 0, 0, 0.66)),
    url("../../../../src/components/assets/images/backgrounds/mainpage.png") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: auto;
}

.more-text-main {
  font-size: calc(var(--scale-pixel-koef) * 30px);
  font-weight: 400;
}

.container-fluid {
  height: fit-content;
  width: 85%;
  margin-top: calc(var(--scale-pixel-koef) * 50px);
}

.container-fluid-margless {
  margin-top: 0px;
}

.title-main {
  font-size: calc(var(--scale-pixel-koef) * 90px);
  line-height: calc(var(--scale-pixel-koef) * 108px);
}

.text-main {
  margin-top: calc(15px * var(--scale-pixel-koef));
  font-size: calc(30px * var(--scale-pixel-koef));
  width: calc(var(--scale-pixel-koef) * 990px);
}

.button-main {
  margin-top: calc(var(--scale-pixel-koef) * 95px);
  // margin-bottom: calc(var(--scale-pixel-koef) * 50px);
  border: solid 2px #e43603;
  background: none;
  width: calc(var(--scale-pixel-koef) * 460px);
  height: calc(var(--row-btn-height) * var(--scale-pixel-koef));
  border-radius: 50px;
  justify-content: center;
}

.links_line-main {
  width: 100%;
  height: 140px;
  justify-content: start;
  position: relative;
  display: flex;
  align-items: center;
  gap: 50px;
}

.vk_link-main img {
  height: calc(30px * var(--scale-pixel-koef));
}

.arrow-btn-main {
  height: var(--row-btn-height);
  align-self: center;
  padding: 0;
}

.arrow-btn-main img {
  height: 100%;
}

.main-text-block-main {
  margin-top: calc(var(--scale-pixel-koef) * 105px);
}

.vk_logo {
  bottom: calc(var(--scale-pixel-koef) * clamp(10px, 4vw, 30px));
  right: calc(var(--scale-pixel-koef) * clamp(20px, 4vw, 70px) - 5vw);
}

@media (max-width: 1300px) {
  // .container-fluid {
  //   margin-top: 0;
  // }

  .text-main {
    width: 90%;
  }
}

@media (max-width: 1000px) {
  .title-main {
    font-size: 69px;
    line-height: 80px;
  }
}

@media (max-width: 730px) {
  .title-main {
    font-size: 50px;
    line-height: 50px;
  }

  .text-main {
    width: 90%;
  }

  .button-main {
    width: 100%;
  }

  .hidden {
    display: none;
  }

  .row {
    justify-content: center;
  }
}

@media (max-width: 530px) {
  .title-main {
    font-size: 40px;
  }

  .text-main {
    width: 100%;
  }
}

@media (max-width: 430px) {
  .title-main {
    font-size: 35px;
  }
}

@media (-webkit-device-pixel-ratio: 1.5) {
  :root {
    --display-ration: 1.5;
  }


  .links_line-main {
    width: 100%;
    height: 140px * 0.67;
    justify-content: start;
    position: relative;
    display: flex;
    align-items: center;
    gap: 50px * 0.67;
  }

  .arrow-btn-main {
    height: calc(var(--row-btn-height) * 0.67);
    align-self: center;
    padding: 0;
  }

}