# Engine
asgiref==3.7.2
Django
django-cors-headers==4.1.0
django-filter==23.3
python-dotenv==1.0.0
djangorestframework==3.14.0
drf-spectacular==0.26.5
pillow==10.1.0
sqlparse==0.4.4
uritemplate==4.1.1

# Codestyle
flake8==6.1.0