.page-section1 {
    position: absolute;
    background: url("../../../../../src/components/assets/images/background.svg") no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.partner-card1 {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 300px;
    height: 400px;

    & img {
        object-fit: contain;
        width: 100%;
        user-select: none;
        -webkit-user-drag: none;
        cursor: pointer;
    }
}

.line1 {
    margin: 90px 0 50px 0;
    height: 140px;
}

.title1 {
    position: absolute;
    text-align: center;
    font-size: 80px;
    font-weight: 400;
    color: white;
    user-select: text;
}

.button-main3{
    position:absolute;
    top:95px;
    left: 15px;
    border: solid 2px #e43603;
    background: none;
    width: 100px;
    height: 45px;
    border-radius: 50px;
  }