.contacts-section {
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url("../../../../src/components/assets/images/background.svg") no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    scrollbar-color: rgb(193 49 0 / 80%) transparent;

    .contact-photo {
        object-fit: cover;
        object-position: center center;
        -o-object-fit: cover;
        -o-object-position: center center;
        height: 100%;
        width: 100%;
        min-width: 100%;
    }

    .wrapper {
        gap: calc(clamp(30px, 5vw, 60px) * var(--scale-pixel-koef)) //попроавить 
    }

    .card {
        height: calc(clamp(200px, 20vw, 600px) * var(--scale-pixel-koef));
        background: transparent;
        border: 2px solid var(--color-orange);
    }

    footer {
        position: absolute;
        background-color: #FF5C00;
        bottom: 0;
        width: 100%;
        height: 5vw;
        min-height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }
}

p {
    margin: 0;
}

.links {
    text-decoration: none;
    color: #FFFFFFB2;
    font-size: 20px;
}

.line {
    margin: 90px 0 50px 0;
    height: 140px;
}

.title {
    position: absolute;
    text-align: center;
    font-size: 80px;
    font-weight: 900;
    color: white;
}

.contacts {
    height: 169px;
}

.contact {
    width: 488px;
    border: solid 1px #FF5C00;
    background: #000000;
    border-radius: 35px;
    font-size: 20px;
}

.contact-title {
    font-size: 30px;
}

.diagonal-arrow {
    margin-left: 5px;
    width: 10px;
    padding-bottom: 3px;
}