// --------------------MOBILE------------------------

.mobile-carousel-achievements {
  & .achieve-card-mobile {
    display: flex;
    background-color: transparent;
    border: 2px solid var(--color-border-orange);
    border-radius: clamp(30px, 3vw, 40px);
    user-select: none;
    overflow: hidden;
    -webkit-user-drag: none;
    height: clamp(100px, 30vw, 250px);
    width: 100%;
    flex-direction: row;
    max-width: 650px;
  }

  & .achieve-mobile {
    width: 100%;
    height: 100%;
    justify-content: center;
  }

  & .achieve-mobile-text {
    font-size: clamp(14px, 2vw, 20px);
  }

  & .achieve-photo {
    min-width: 30%;
    max-width: 30%;
    overflow: hidden;

    & img {
      object-fit: cover;
      object-position: center center;
      -o-object-fit: cover;
      -o-object-position: center center;
      height: 100%;
      width: 100%;
    }
  }

  & .achieve-vertical-line {
    max-height: 100%;
    width: 8px;
    background: var(--color-border-orange);
  }

  & .achieve-horizontal-line {
    height: 3px;
    align-self: center;
    width: 80%;
    background: var(--color-border-orange);

  }

  & .achieve-title {
    width: 100%;
    text-transform: uppercase;
    align-content: center;

    & p {
      text-align: center;
      margin-top: clamp(14px, 4vw, 22px);
      margin-bottom: clamp(14px, 4vw, 22px);
      user-select: none;
      -webkit-user-drag: none;
      font-size: clamp(12px, 3vw, 20px);
      color: var(--color-text-white);
    }

  }

  & .achieve-more {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: clamp(14px, 4vw, 22px);
    margin-bottom: clamp(14px, 4vw, 22px);

    a {
      font-size: clamp(12px, 3vw, 20px);
    }
  }

  & .achieve-more::after {
    content: "";
    background: url("../../assets/icons/arrow_more_inf_tiny.svg") no-repeat;
    width: clamp(5px, 2vw, 12px);
    height: clamp(5px, 2vw, 12px);
    object-fit: contain;
    transform: translate(50%, -50%);
  }

  & .achieve-vertical-group {
    align-items: center;
    justify-content: center;
    height: min-content;
  }
}

//-----------------------------DESKTOP--------------------------

.desktop-carousel-achievements {
  & .achieve-card {
    min-width: 33.3%;
    max-width: 33.3%;
    padding: clamp(10px, 2vw, 30px);
  }

  & .achieve-card-desktop {
    display: flex;
    border-radius: clamp(30px, 3vw, 40px);
    user-select: none;
    overflow: hidden;
    -webkit-user-drag: none;
    height: clamp(150px, 15vw, 300px);
    flex-direction: row;
    border: 2px solid var(--color-border-orange);
  }

  & .achieve-photo {
    object-fit: cover;
    object-position: center center;
    -o-object-fit: cover;
    -o-object-position: center center;
    height: 100%;
    width: 100%;
    min-width: 100%;
  }

  & .card-title {
    color: var(--color-text-white) !important;
  }
}

.overlay-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 45.83%, rgba(0, 0, 0, 0) 100%);

}



.achieve-desktop {
  width: 100%;
  display: none !important;
}



a {
  user-select: none;
  -webkit-user-drag: none;
}

.achieve-card:nth-child(even) .achieve-mobile {
  .achieve-card-mobile {
    flex-direction: row-reverse;
  }
}

.desktop-carousel-achievements .achieve-card:nth-child(1) {
  min-width: 100%;
  max-width: 100%;

  & .achieve-card-desktop {
    height: clamp(300px, 28vw, 600px);
  }
}


@media (min-width: 1100px) {
  .achieve-mobile {
    display: none !important;
  }

  .achieve-desktop {
    display: unset !important;
  }

}