.page-section {
    background-image: url("../../../../src/components/assets/images/background.svg");
    height: 100vh;
}

.title {
    text-align: center;
    font-size: 80px;
    font-weight: 900;
    color: white;
}

.circle {

}