.logo-row {
  width: 100%;
  height: calc(var(--scale-pixel-koef) * clamp(60px, 15vw, 130px));
  justify-content: start;
  position: relative;
  display: flex;
  align-items: start;
  gap: calc(var(--scale-pixel-koef) * 50px);

  .hidden_logo {
    display: none;
  }

}

.first-page {
  .hidden_logo {
    display: inherit;
  }
}

.logo-block {
  min-height: 50px;
  min-width: 50px;
  max-width: calc(var(--logo-size) * var(--scale-pixel-koef));
  max-height: calc(var(--logo-size) * var(--scale-pixel-koef));
}

.logo-img {
  border-radius: 50%;
  user-select: none;
}

.title-text {
  margin: 0;
  font-size: calc(clamp(14px, 6vw, 80px) * var(--scale-pixel-koef));
  font-weight: 900;
  color: white;
  line-height: 100%;
  font-weight: 400;
}



@media (max-width: 1100px) {
  .logo-row {
    gap: calc(var(--scale-pixel-koef) * 25px);

    & .title-text {
      font-size: clamp(20px, 7vw, 30px);
      font-weight: 900;
    }
  }

  .hidden_logo {
    display: none !important;
  }
}

@media (max-width: 730px) {
  .logo-row {
    gap: calc(var(--scale-pixel-koef) * 20px);
  }
}

@media (max-width: 530px) {
  .logo-row {
    gap: calc(var(--scale-pixel-koef) * 20px);
  }
}

@media (max-width: 430px) {
  // .title-text {
  //   font-size: calc(var(--scale-pixel-koef)* 30px);
  // }
}

@media (-webkit-device-pixel-ratio: 1.5) {
  :root {
    --display-ration: 1.5;
  }
}

@media (-webkit-device-pixel-ratio: 1.25) {
  :root {
    --display-ration: 1.25;
  }
}

@media (-webkit-device-pixel-ratio: 1.75) {
  :root {
    --display-ration: 1.75;
  }
}

@media (-webkit-device-pixel-ratio: 2) {
  :root {
    --display-ration: 2;
  }
}