.logo-row {
  width: 100%;
  height: calc(var(--scale-pixel-koef) * 130px);
  justify-content: start;
  position: relative;
  display: flex;
  align-items: start;
  gap: calc(var(--scale-pixel-koef) * 50px);
}

.logo-block {
  min-height: 50px;
  min-width: 50px;
  max-width: calc(var(--logo-size) * var(--scale-pixel-koef));
  max-height: calc(var(--logo-size) * var(--scale-pixel-koef));
}

.logo-img {
  border-radius: 50%;
  user-select: none;
}

.title-text {
  margin: 0;
  font-size: calc(var(--scale-pixel-koef)* 80px);
  font-weight: 400;
  color: white;
  line-height: 100%;
}

@media (max-width: 1300px) {
  // .title-text {
  //   font-size: 69px;
  // }

  // .logo-img {
  //   width: 108px;
  //   height: 108px;
  // }

  // .logo-row {
  //   justify-content: start;
  //   align-items: start;
  //   height: 250px;
  // }

  // .logo-img {
  //   top: 0;
  // }
}

@media (max-width: 730px) {
  .logo-row {
    height: 230px;
  }

  // .title-text {
  //   font-size: 50px;
  // }

  // .hidden_logo {
  //   display: none;
  // }
}

@media (max-width: 530px) {
  .logo-row {
    // margin: 50px auto 0;
    height: 140px;
  }

  // .title-text {
  // margin-top: 200px;
  // }

  // .logo-img {
  //   width: 52px;
  //   height: 53px;
  // }

  // .title-text {
  //   font-size: 40px;
  // }

  // .hidden_logo {
  //   display: none;
  // }
}

@media (max-width: 430px) {}

@media (-webkit-device-pixel-ratio: 1.5) {
  :root {
    --display-ration: 1.5;
  }

  // .logo-img {
  //   width: 115px * 0.67;
  //   height: 115px * 0.67;
  // }

  // .logo-row {
  //   // margin: 60px*0.67 auto 0;
  //   justify-content: start;
  //   align-items: start;
  //   height: 230px * 0.67;
  // }
}